// Convert px to rem
@function scut-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($pixels) {
  @return scut-strip-unit($pixels) / $scut-rem-base * 1rem;
}
// Convert px to rem

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin gridCenter {
  display: grid;
  place-items: center;
}


