@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@mixin transition($props1, $props2: _) {
  transition: $props1 1s ease-in-out, $props2 1s ease-in-out;
}

@mixin backgroundImage($props, $extension) {
  background: url(../images/#{$props}.#{$extension}) no-repeat center center/cover;
}

/* --------------------------------- */
/* Start : If Bootstrap not install  */
/* --------------------------------- */
// $breakpoints-up: (
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// ) !default;

// @mixin media-breakpoint-up($size) {
//   @media screen and (min-width: map-get($breakpoints-up, $size)) {
//     @content;
//   }
// }
/* ------------------------------- */
/* End : If Bootstrap not install  */
/* ------------------------------- */

/* -------------------------- */
/* Start : Generate Font Size */
/* -------------------------- */
// https://utopia.fyi/type/calculator/

$screen-min-width: 320;
$screen-max-width: 1440;
$screen-vw: 100vw;
$fluid-bp: calc(($screen-vw - $screen-min-width / 16 * 1rem) / ($screen-max-width - $screen-min-width));

@mixin fs($fs-min, $fs-max) {
  font-size: calc((($fs-min / 16) * 1rem) + ($fs-max - $fs-min) * $fluid-bp);
}

/* ------------------------ */
/* End : Generate Font Size */
/* ------------------------ */