// font family
$primary-font: "Montserrat", sans-serif;

// color
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// fonts path
$fonts-path: "../../fonts" !default;

// // Convert px to rem
$scut-rem-base: 16 !default;
