// font family
$primary-font: "Montserrat", sans-serif;

// color
$black-900: hsl(0, 0%, 0%);
$white-900: hsl(0, 0%, 100%);

// font weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

// fonts path
$fonts-path: "../../fonts" !default;

// // Convert px to rem
$scut-rem-base: 16 !default;
