html {
  box-sizing: border-box;
  font-size: $default-font-size;
  color-scheme: light dark;
}

body {
  color: $default-text-clr;
  background: $default-bg;
  font-family: $default-font-family;
  font-weight: $default-font-weight;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote {
  padding: 0;
  margin: 0;
  font-weight: $default-font-weight;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
